[submodule "zsh.d/antigen"]
	path = zsh.d/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "bin.d/pushbullet-bash"]
	path = bin.d/pushbullet-bash
	url = https://github.com/Red5d/pushbullet-bash.git
[submodule "stumpwm.d/contrib"]
	path = stumpwm.d/contrib
	url = https://github.com/stumpwm/stumpwm-contrib.git
[submodule "stumpwm.d/modules"]
	path = stumpwm.d/modules
	url = https://github.com/stumpwm/stumpwm-contrib.git
[submodule "zsh.d/zplug"]
	path = zsh.d/zplug
	url = https://github.com/zplug/zplug.git
	ignore = dirty
