*~
\#*#
emacs.d/history
emacs.d/cache/
emacs.d/local/
emacs.d/url
emacs.d/packages
emacs.d/elpaca
emacs.d/eln-cache
emacs.d/\.*
emacs_old.d/history
emacs_old.d/cache
emacs_old.d/local
emacs_old.d/url
emacs_old.d/packages
*.dat
*.elc
mlterm.d/msg.log
mlterm.d/challenge
mlterm.d/*.rgs
mlterm.d/*.six
zsh.d/.zsh_history
fonts.d/
neovim.d/plugin/packer_compiled.lua
