[submodule "stumpwm.d/contrib"]
	path = stumpwm.d/contrib
	url = https://github.com/stumpwm/stumpwm-contrib.git
[submodule "stumpwm.d/modules"]
	path = stumpwm.d/modules
	url = https://github.com/stumpwm/stumpwm-contrib.git
[submodule "zsh.d/zplug"]
	path = zsh.d/zplug
	url = https://github.com/zplug/zplug.git
	ignore = dirty
[submodule "private.d"]
	path = private.d
	url = https://gitlab.pluser.net/pluser/dotfiles-private.git
[submodule "zsh.d/zplugin"]
	path = zsh.d/zplugin
	url = https://github.com/zdharma/zplugin.git
