[Unit]
Description=Sync client for Nextcloud server

[Service]
#Environment="QT_DEBUG_PLUGINS=1"
ExecStart=%h/.local/bin/Nextcloud.AppImage
Type=simple
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=default.target
