[Unit]
Description=rclone mount
Documentation=http://rclone.org/docs/
After=network-online.target

[Service]
Type=notify
ExecStart=/usr/bin/rclone mount -v --vfs-cache-mode full --vfs-cache-max-age 72h nextcloud-pluser-net:Research ${HOME}/Research
ExecStop=/bin/fusermount -uz ${HOME}/Research
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
