[Unit]
Description=Server of synergy, input device sharing system
ConditionPathExists=/usr/bin/synergy-core

[Service]
ExecStart=/usr/bin/synergy-core --server --no-daemon
Type=simple
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=default.target
