#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Name=Discord PTB
StartupWMClass=discord
Comment=All-in-one voice and text chat for gamers that's free, secure, and works on both your desktop and phone.
GenericName=Internet Messenger
Exec=zsh -c ${HOME}/.local/DiscordPTB/DiscordPTB
Icon=com.discordapp.Discord
Type=Application
Terminal=false
StartupNotify=true
Categories=Network;InstantMessaging;